@media(max-width: 768px) {
    html, body{
        overflow-x: hidden;
    }

    h2 {
        font-size: 30px;
        margin: 12px;
    }
  
    h3 {
          font-size: 24px;
          margin: 12px;
    }
  
    p {
      font-size: 16px;
    }


    /* HEADER */
   .menu-nav {
    flex-direction: column;
    margin-top: 40px;
    height: 90vh;
    width: 90vw;   
    z-index: 10;
    text-align: center;
    display: none;    
   }

   .menu-nav.activado {
    display: flex;
   }

   .list-nav {
    flex-direction: column;
    padding: 0px;
  }

    .br-1.animado{
        transform: rotate(-45deg) translate(-10px, 10px);
    }

    .br-2.animado{
        opacity: 0;
    }

    .br-3.animado{
    transform: rotate(45deg) translate(-10px, -10px);
    }

    .btn-responsive {
    display: block;   
    position: fixed;
    z-index: 14;
    top: 0;
    left: 0;
    transition: 0.2s 0.1s;
    }

    .btn-responsive:hover {
    transform: rotate(360deg);
    }

  /* EL HOTEL */
  .hero {
    width: 300vw;
  }

  .text-inicio {
    top: 40%;  
  }

  .container {
      display: flex;
      padding-top: 30px;
  }

  .cont-text {
      margin: 10px ;
      padding: 10px;
      border: 6px solid #FEB990;
  }

  .btn-reservas{
    margin: 10px;
    padding: 10px 20px;
    background: #FEB990;
    border: none;
    border-radius: 3px;
}

/* HABITACIONES */
.text-section-suites {
    position: absolute;
    top: 22%;
    bottom: 60%;
}

.suite-img {
    margin-top: 10px;
}

.descrip-suite {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: #FEB990 solid 1px;
    padding: 20px;
}

.text-descrip {
    width: 95%;
    text-align: center;   
    padding-top: 1px;
}

.desc-habit {
    padding: 0 20px;

}

.galeria-habit {
    position: absolute;
    top: 36%;    
}

.list-habit {
    padding: 0;
    margin: 0;
}

li {
    padding: 12px;
}

/* GALERIA */
.text-section-galeria {
    position: absolute;
    top: 5%;
    bottom: 80%;
}

.items-galeria {
    flex-direction: column;
    align-items: center;
    padding: 0;
    position: relative;
    top: 24%;
}

.galeria-images {
    flex-direction: column;
    align-items: center;
    top: 30%;
}

/* responsive form en form.ccs */
}


