html, body {
    margin: 0;
    background: #494A48;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}


.menu-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    margin-top: 30px;
    z-index: 10;
    background: #979986;   
}


.btn-responsive {
    display: none;   
    cursor: pointer;
    border: none;
    margin: 0;
    padding-left: 15px;
    background-color: transparent;  

}

.btn-responsive span {
    display: block;
    background-color: #FEB990;
    height: 4px;
    width: 30px;
    margin: 10px auto;
    border-radius: 2px;
}

.hotel-container, .galeria-container {
    height: 100vh;  
}

.list-nav {
    display: flex;
}

li {
    list-style: none;
    padding: 20px;
}

.btn-reservas{
    padding: 20px 30px;
    background: #FEB990;
    border: none;
    border-radius: 3px;
}

a {
    text-decoration: none;
    color: #ffffff; 
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

p {
    color: #ffffff; 
    font-size: 20px;
}

h2 {
    color: #ffffff; 
    font-size: 70px;
    font-weight: 700;
    margin: 20px;
    text-shadow: 2px 2px 2px #686867;
}

h3 {
    color: #ffffff;  
    font-size: 30px;
    font-weight: 700;
    text-shadow: 2px 2px 2px #686867;
}

.hero {
    height: 100vh;
    width: 100vw;  
}

.text-inicio {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.cont-text {
    text-align: center;
    border:  10px solid #FEB990;
    margin: 30px 50px;
    padding: 60px;   
}

.img-suite-hero, .img-contacto {
    width: 100%;
    height: 50%;
}

.text-section-suites, .text-section-galeria, .text-section-contacto {
    position: absolute;
    top: 22%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;   
}

.galeria-habit {
    display: flex;
    flex-direction: column;  
}

.descrip-suite {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.suite-img {
    width: 50%;
}

.desc-habit {
    padding: 0 40px;
    text-align: justify;
}

.text-descrip {
    width: 50%;
    text-align: center;
    padding-top: 40px;  
     
}

.list-habit {
    display: flex;
    justify-content: center;
}

.i-list-habit {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: rgb(222, 222, 220);
}

.tamaño-i {
    font-size: 30px;
    color: rgb(222, 222, 220);
    padding-bottom: 10px;
}

.galeria-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 50vh;

}

.items-galeria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 50%; 
}

.img {
    width: 350px;
    padding: 18px;
    border-radius: 20px;
}

footer {
    font-size: 14px;
    text-align: center;
    padding-bottom: 10px;
  }

  @media(max-width:768px){
    footer{
  
       position: absolute;
       bottom: -44%;
       left: 0;
       right: 0;
    }
  }

